.box-container{
    position: absolute;
    width: 400.36px;
    height: 454.96px;
    left: 519.82px;
    top: 308.42px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.box-response{
    position: absolute;
    width: 198px;
    height: 76.53px;
    left: 101.18px;
    top: 36px;
    text-align: center;
}
.box-response-text{
    position: absolute;
    width: 198px;
    height: 27px;
    top: 49.53px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4F4F4F;
}
.box-response-image{
    position: absolute;
    width: 338px;
    height: 224.4px;
    left: -70px;
    top: 110px;
}
.box-response-link{
    position: absolute;
    width: 338px;
    height: 34px;
    left: 31.8px;
    top: 387.61px;

    background: #F6F8FB;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
}
.box-response-text-link{
    position: absolute;
    width: 240px;
    height: 12px;
    left: 17px;
    top: 10px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.035em;


    color: #4F4F4F;
}

.btn-reupload{
    position: absolute;
    
    left: 146px;
    top: 390px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    
    color: #FFFFFF;
}

.btn-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 0px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.035em;
    vertical-align: middle;

    color: #FFFFFF;
}

.box-response-btn{
    width: 74px;
    height: 30px;
    left: 260px;
    top: 1px;
    
    /* Blue 1 */

    background: #2F80ED;
    border-radius: 8px;
    border-color: transparent;
}
.success{
    color: rgb(42, 196, 42);
    font-size: 35px;
    
}
.error{
    color: rgb(177, 22, 22);
    font-size: 35px;
}
.img_uploader_1{
    position: relative;
    width: 1440px;
    height: 1080px;

    background: #FAFAFB;
    border-radius: 8px;
}
body 
    .btn{
         background-color: #2F80ED;
         z-index: 0;
    }
    